@import "colors";

// Define variables
$contentMargin: 20px 60px;

//map function for fonts
$font-sizes: (
  "small": 12px, 
  "normal": 18px, 
  "large": 22px, 
  "ex-large": 40px
);

.textContainer {
    display: flex;
    justify-content: space-between;
    margin: $contentMargin;
    padding: 20px;
    gap: 50px;
    
}
.textOne {
    h6 {
        margin: 0 0 40px 0;   
        font-size: map-get($font-sizes, "large");
        font-weight: bold;
        color: $secondColor;
    }

    p {
        margin: 0;           
        font-size: map-get($font-sizes, "ex-large");
        line-height: 1.5;
        font-weight: bold;

        span {
            color: $secondColor;
        }
    }
}

.textTwo {
    align-self: flex-end;
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;

    hr {
        width: 50px;
        border: none;
        border-top: 1px solid $strockColor;
        margin: 0;         
    }

    p {
        margin: 0;        
        font-style: italic;
        font-size: map-get($font-sizes, "normal");
    }
}