@import "colors";

// Define variables
$contentMargin: 20px 60px;

//map function for fonts
$font-sizes: (
  "small": 16px, 
  "normal": 18px, 
  "large": 22px, 
  "xx-large": 28px,
  "xxx-large": 40px
);
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: $contentMargin;
  img {
    width: 90px;
    height: auto;
  }
}

.navLinks {
  display: flex;
  gap: 60px;

  a {
    text-decoration: none;
    color: $textcolor;
    font-size: map-get($font-sizes, "normal");
    font-style: normal;
    font-weight: 400;
    transition: color 0.3s ease;

    &:hover {
      color: $secondColor;
    }
  }
}
